{% block check_quick_widget %}
    {% spaceless %}
        <div class="check_quick_row" style="margin-bottom: 5px;">

            {% if form.vars.value == null %}
                <div class="row" style="padding: 0 5px;">
                    <div class="col-xs-5" style="padding: 0 5px;">
                        {{ form_widget(form.qty, { 'attr': { 'class': 'nextOnEnter col-xs-6 check_quick_input form-control', 'maxlength':"10"}}) }}
                    </div>
                    <div class="col-xs-1" style="padding: 0 5px;">x</div>
                    <div class="input-group col-xs-6" style="padding: 0 5px;">
                        {{ form_widget(form.unitValue, { 'attr': { 'class': 'nextOnEnter check_quick_unit_value_input form-control check_quick_unitvalue_input toShow splitted_input'}}) }}
                        <span class="input-group-addon" id="basic-addon2">
                        <i class="glyphicon glyphicon-euro"></i></span>
                    </div>
                </div>
            {% else %}
                <div class="input-group">
                    {{ form_widget(form.qty, { 'attr': { 'class': 'nextOnEnter check_quick_input form-control splitted_input'}}) }}
                    <span class="input-group-addon" id="basic-addon2">
                        {% if form.vars.value != null %}
                            x {{ form.vars.value.unitValue|number_format(2, ',', '.') }}
                        {% endif %}
                        <i class="glyphicon glyphicon-euro"></i></span>
                </div>
            {% endif %}

            {{ form_errors(form.qty) }}
            {{ form_widget(form.checkName, { 'attr': { 'class': 'check_quick_checkName_input'}}) }}
            {% if form.vars.value != null %}
                {{ form_widget(form.unitValue, { 'attr': { 'class': 'check_quick_unit_value_input'}}) }}
            {% endif %}
        </div>
    {% endspaceless %}


{% endblock %}
