{% extends('@Report/MerchandiseManagement/index.html.twig') %}

{% block base_title %}
    {{ 'report.buying.in_out_title'|trans }}
{% endblock %}
{% block body %}

    <div class="filter-zone">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="glyphicon glyphicon-filter"></span> {{ 'filter.label'|trans }}
            </div>
            <div class="panel-body" style="padding-top: 5px; display: block;">
                <form action="{{ path("report_in_out") }}" method="POST">
                    <div class="row">
                        <div class="col-lg-3 col-sm-2 col-xs-12">
                            <label class="required">
                                {{ 'report.period' |trans }}
                            </label>
                        </div>
                        <div class="col-lg-4 col-sm-4 col-xs-12">
                            <div class="input-group">
                                <input type="text" id="begin_date" name="beginDate" required="required"
                                       class="datepicker form-control picker__input"
                                        {% if(filter.beginDate is defined) %} value="{{ filter.beginDate }}{% endif %}">
                                <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                            </div>
                            {% if errors.firstDate is defined %}
                                <div class="alert alert-danger form-error" role="alert"><span
                                            class="glyphicon glyphicon-warning-sign"></span>
                                    {{ 'null_value' | trans([],'validation') }} <br></div>
                            {% elseif errors.compareDate is defined %}
                                <div class="alert alert-danger form-error" role="alert"><span
                                            class="glyphicon glyphicon-warning-sign"></span>
                                    {{ 'compare_date' | trans([],'validation') }} <br></div>
                            {% endif %}
                        </div>
                        <div class="col-lg-1 col-sm-2 col-xs-12">
                            <label class="required">
                                {{ 'keyword.to' |trans }}
                            </label>
                        </div>
                        <div class="col-lg-4 col-sm-4 col-xs-12">
                            <div class="input-group">
                                <input type="text" id="end_date" name="endDate" required="required"
                                       class="datepicker form-control picker__input"
                                        {% if(filter.endDate is defined) %} value="{{ filter.endDate }}{% endif %}">
                                <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                            </div>
                            {% if errors.secondDate is defined %}
                                <div class="alert alert-danger form-error" role="alert"><span
                                            class="glyphicon glyphicon-warning-sign"></span>
                                    {{ 'null_value' | trans([],'validation') }} <br></div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-lg-3 col-md-6 col-xs-12">
                            <label>
                                {{ 'label.type' | trans }}
                            </label>
                        </div>
                        <div class="col col-lg-9 col-md-9 col-xs-12">
                            <div class="row">
                                <div class="col col-lg-3 col-md-3 col-xs-6">
                                    <input type="checkbox" name="type[]" id="checkBoxDelivery" value="delivery"
                                            {% if  ( filter.type is defined and 'delivery' in filter.type )  or filter.type is not defined %}
                                                checked="checked" {% endif %} >
                                    <label for="checkBoxDelivery">{{ 'keyword.delivery' | trans }}</label>
                                </div>
                                <div class="col col-lg-3 col-md-3 col-xs-6">
                                    <input type="checkbox" name="type[]" id="checkBoxTransferIn" value="transferIn"
                                           class="form-control"
                                            {% if ( filter.type is defined and 'transferIn' in filter.type ) or filter.type is not defined %}
                                                checked="checked" {% endif %} >
                                    <label for="checkBoxTransferIn">{{ 'keyword.transferIn' | trans }}</label>
                                </div>
                                <div class="col col-lg-3 col-md-3 col-xs-6">
                                    <input type="checkbox" name="type[]" id="checkBoxTransferOut" value="transferOut"
                                           class="form-control"
                                            {% if ( filter.type is defined and 'transferOut' in filter.type ) or filter.type is not defined %}
                                                checked="checked" {% endif %} >
                                    <label for="checkBoxTransferOut">{{ 'keyword.transferOut' | trans }}</label>
                                </div>
                                <div class="col col-lg-3 col-md-3 col-xs-6">
                                    <input type="checkbox" name="type[]" id="checkBoxReturn" value="return"
                                           class="form-control"
                                            {% if ( filter.type is defined and 'return' in filter.type ) or filter.type is not defined %} checked="checked" {% endif %} >
                                    <label for="checkBoxReturn">{{ 'keyword.return' | trans }}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 5px;">
                        <div class="col-md-12 col-xs-12" style="text-align:right;">
                            {% if(generated is defined) %}
                                <button class="btn waves-effect btn-export text-black dropdown-button"
                                        data-activates='dropdown2'>
                                    <span> {{ 'btn.export'|trans() }} </span>
                                </button>
                                <ul id="dropdown2" class="dropdown-content" style="">
                                    <li>
                                        <a class="strech_btn text-black" href="#" id="downloadReport">
                                            <img src="{{ asset('bundles/app/images/export/pdf-512.png') }}"
                                                 style="height: 25px"
                                                 alt="{{ 'btn.download'|trans() }} {{ 'btn.download_pdf'|trans() }}"/>
                                            <span style="color: #000;">{{ 'btn.download_pdf'|trans() }}</span>
                                        </a></li>
                                    <li>
                                        <a class="strech_btn text-black" href="#" id="export-btn">
                                            <img src="{{ asset('bundles/app/images/export/csv-128.png') }}"
                                                 style="height: 25px"
                                                 alt="{{ 'btn.download'|trans() }} {{ 'btn.download_csv'|trans() }}"/>
                                            <span style="color: #000;">{{ 'btn.download_csv'|trans() }}</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="strech_btn text-black" href="#" id="export-xls">
                                            <img src="{{ asset('bundles/app/images/export/xls-512.png') }}"
                                                 style="height: 25px"
                                                 alt="{{ 'btn.download'|trans() }} {{ 'btn.download_xls'|trans() }}"/>
                                            <span style="color: #000;">{{ 'btn.download_xls'|trans() }}</span>
                                        </a>
                                    </li>
                                </ul>
                            {% endif %}

                            <button type="submit" class="btn waves-effect orange text-black " id="generateReport">
                                {{ 'btn.generate_report'|trans() }}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% if(generated is defined) %}
        {{ include('@Report/BuyingManagement/InOut/body_report_in_out.html.twig') }}
    {% endif %}

{% endblock %}