<div class="" style="padding: 5px;">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <span class="label">{{ 'article.details.article' | trans }}: </span>
            (0007) Sac Poubelle noir
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <span class="label">{{ 'article.details.famComp' | trans }}: </span>
            (03) Fournitures d'entretien
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <span class="label">{{ 'article.details.famItem' | trans }}: </span>
            (15) Materiel Entret
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <span class="label">{{ 'article.details.supplier' | trans }}: </span>
            (00316, 001) DELI XL
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <span class="label">{{ 'article.details.foodCost' | trans }}: </span>
            Non
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <span class="label">{{ 'article.details.created' | trans }}: </span>
            20/09/2005
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <span class="label">{{ 'article.details.validityStart' | trans }}: </span>
            10/06/1990
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <span class="label">{{ 'article.details.CoefMultiple' | trans }}: </span>
            00
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <span class="label">{{ 'article.details.actifPrice' | trans }}: </span>
            0.2293
        </div>
    </div>


    <div class="row">
        <div class="col-sm-3 col-sm-offset-9">
            <button class="btn btn-primary btn-block"><span class="glyphicon glyphicon-print"></span> Imprimer</button>
        </div>
    </div>
</div>
