<div class="row">
    <div class="col col-xs-12" style="text-align: right">
        {#<a data-item-id="{{ item.id }}" class="btn btn-modify btn-icon" href="{{ path('inventory_item_list',#}
        {#{'productPurchased' : item.id}) }}">#}
        {#{{ 'btn.edit' | trans }}#}
        {#</a>#}
        {#{% if (item.status) != 'inactive'%}#}
        {#<button data-item-id="{{ item.id }}" type="button" class="btn btn-delete btn-remove btn-icon"#}
        {#style="margin-right: 10px; margin-left: 10px;">#}
        {#{{ 'btn.deactivate' | trans }}#}
        {#</button>#}
        {#{% else %}#}
        {#<button data-item-id="{{ item.id }}" type="button" class="btn btn-validate btn-activate">#}
        {#{{ 'btn.activate' | trans }}#}
        {#</button>#}
        {#{% endif %}#}
        <button type="button" class="btn btn-cancel" data-dismiss="modal"
                style="margin-right: 10px;">{{ 'btn.close' | trans }}</button>
    </div>
</div>