{% extends('@Supervision/Reports/exports/base_exports.html.twig') %}

{% block reportTitle %}
    <h2>
        {{ 'report.sales.hour_by_hour.title' | trans }}
    </h2>
{% endblock %}

{% block filterBlock %}
    <div class="row">
        <div class="col-xs-3 input-field">
            <label for="startDate">{{ 'keywords.date'|trans({}, 'supervision') }} </label>
            <span class="text-muted">
                {{ data['date'] | date('d/m/Y') }}
            </span>
        </div>
        <div class="col-xs-3 input-field">
            <label for="restaurant">{{ 'keywords.restaurant'|trans({}, 'supervision') }} </label>
            <span class="text-muted">
                {{ data['restaurant'].name }}
            </span>
        </div>
    </div>

{% endblock %}

{% block body %}
    {{ include('@Supervision/Reports/Revenue/HourByHour/body.html.twig') }}
{% endblock %}
