{% extends('@General/exports/base_exports.html.twig') %}

{% block reportTitle %}
    <h2>
        {{ 'report.sales.hour_by_hour.title' | trans }}
    </h2>
{% endblock %}

{% block filterBlock %}
    <div class="row">
        <div class="col-xs-3 input-field">
            <span class="text-muted">
               <label for="startDate"> {{ 'keyword.from'|trans() }}: </label>
                {{ from }}
            </span>
        </div>
        <div class="col-xs-3 input-field">
            <span class="text-muted">
               <label for="endDate"> {{ 'keyword.to'|trans() }}: </label>
                {{ to }}
            </span>
        </div>
    </div>

{% endblock %}

{% block body %}
    {% if scheduleType == 0 %}
        {{ include('@Report/SalesManagement/HourByHour/body_report_hour_by_hour_pdf.html.twig', {'caType': caType}) }}
    {% else %}
        {{ include('@Report/SalesManagement/HourByHour/body_report_half_hour_pdf.html.twig', {'scheduleType' : scheduleType, 'caType' : caType}) }}
    {% endif %}
{% endblock %}
