{% extends('@General/exports/base_exports.html.twig') %}

{% block reportTitle %}
    <h2>
        {{ 'report.food_cost.margin.title' | trans }}
    </h2>
{% endblock %}

{% block filterBlock %}
    <div class="col-xs-3 input-field">
        <label for="startDate">{{ 'portion_control.filter_labels.from'|trans }} </label>
        <span class="text-muted">
            {{ beginDate|date('d/m/Y') }}
        </span>
    </div>
    <div class="col-xs-3 input-field">
        <label for="endDate">{{ 'portion_control.filter_labels.to'|trans }} </label>
        <span class="text-muted">
            {{ endDate|date('d/m/Y') }}
        </span>
    </div>
{% endblock %}

{% block body %}
    {{ include('@Report/FoodCost/Margin/body_report_margin_foodcost.html.twig') }}
{% endblock %}
