{% block inventory_sheet_line_widget %}
    {% spaceless %}
        {% if form.vars.value != null %}
            <tr class="line">
                <td>
                    {{ form_widget(form.id) }}
                    <span class="product_id">{{ form.vars.data.product.externalId }}</span>
                    {{ form_widget(form.product) }}
                </td>
                <td>
                    <span class="product_name">{{ form.vars.data.product.name }}</span>
                </td>
                <td>
                    <div class="col-xs-10 input-group">
                        {{ form_widget(form.expedCnt, { "attr": { "class": 'splitted_input form-control qty-input' }}) }}
                        <span class="text-muted input-group-addon"
                              style="margin-right: 5px;">{{ form.vars.data.product.labelUnitExped|trans }}</span>
                    </div>
                    <div class="col-xs-10" style="margin-top: 5px;">
                        {{ form_errors(form.expedCnt) }}
                    </div>
                </td>
                <td>
                    <div class="col-xs-10 input-group">
                        {{ form_widget(form.inventoryCnt, { "attr": { "class": 'splitted_input form-control qty-input' }}) }}
                        <span class="text-muted input-group-addon"
                              style="margin-right: 5px;">{{ form.vars.data.product.labelUnitInventory|trans }} </span>
                    </div>
                    <div class="col-xs-10" style="margin-top: 5px;">
                        {{ form_errors(form.inventoryCnt) }}
                    </div>
                </td>
                <td>
                    <div class="col-xs-10 input-group">
                        {{ form_widget(form.usageCnt, { "attr": { "class": 'splitted_input form-control qty-input' }}) }}
                        <span class="text-muted input-group-addon"
                              style="margin-right: 5px;">{{ form.vars.data.product.labelUnitUsage|trans }}</span>
                    </div>
                    <div class="col-xs-10" style="margin-top: 5px;">
                        {{ form_errors(form.usageCnt) }}
                    </div>
                </td>
                <td class="actions-btn">
                    <button type='button'
                            class='btnRemoveLine btn btn-delete waves-effect waves-light'>
                        <span style="color: white;" class='glyphicon glyphicon-remove'></span>
                    </button>
                </td>
            </tr>
        {% endif %}
    {% endspaceless %}
{% endblock %}
