{{ form_start(form,{ 'method' : 'POST', 'attr': {'id': 'deposit-form', 'class' : 'form-horizontal'} }) }}
<div class="hidden">
    {{ form_rest(form) }}
</div>
<div class="row">
    <div class="col-lg-4 col-sm-4">
        <div class="form-group row">
            <label class="control-label col-md-4">{{ 'label.owner'|trans }}</label>
            <div class="col-md-8">
                <div class="form-control" id="affiliate-code" disabled>{{ app.user.firstName }}
                    &nbsp;{{ app.user.lastName }}</div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-4">
        <div class="form-group row">
            <label class="control-label col-md-6">{{ 'deposit.number_envelope'|trans }}</label>
            <div class="col-md-6">
                <div class="form-control" id="affiliate-code" disabled>{{ envelopes|length }}&nbsp;</div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-4">
        <div class="form-group row">
            <label class="col-md-4 control-label">{{ 'label.total_amount'|trans }}</label>
            <div class="col-md-8">
                <div class="form-control" id="total-amount-div"
                     disabled>{{ deposit.totalAmount|number_format }} &euro;
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12" style="padding-bottom: 0px">
        <button class="btn btn-validate btn-icon pull-right" type="button" id="btn-validate">
            {{ 'deposit.btn_verser' | trans }}
        </button>
    </div>
</div>
{{ form_end(form) }}