<div class="" style="padding: 5px;">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-modal">
            <span class="label">{{ 'provider.list.provider' | trans }}: </span>
            {{ supplier.name }}
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-modal">
            <span class="label">{{ 'provider.list.designation' | trans }}: </span>
            {{ supplier.designation }}
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-modal">
            <span class="label">{{ 'label.code' | trans }} : </span>
            {{ supplier.code }}
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-modal">
            <span class="label">{{ 'provider.list.phone' | trans }} : </span>
            {{ supplier.phone }}
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-modal">
            <span class="label">{{ 'provider.list.adress' | trans }} : </span>
            {{ supplier.address }}
        </div>
    </div>
</div>