<div class="row add-command-table-row">
    <div class="container-fluid">
        <h4>{{ 'loss.check.list_product' |trans }}</h4>
        <table id="loss-list-table" class="table table-striped ">
            <thead>
            <tr>
                <th>{{ 'keyword.code' |trans }}</th>
                <th>{{ 'keyword.label' |trans }}</th>
                <th>{{ 'keyword.total' |trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for line in lines|sort %}
                <tr class="cmd-line">
                    <td>{{ line.productId }}</td>
                    <td>{{ line.productName }}</td>
                    <td>{{ line.total }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
</div>
