{% extends ':default:index.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/app/css/Security/login.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
{% endblock %}
{% block base_heading %}
{% endblock %}
{% block base_body %}
    <div id="login_container" class=" card card-container" style="background-color: white;">

        {% include ':parts:flash_msg.html.twig' %}

        <center>
            <img class="logo" style="height: 10rem;" src="{{ asset('bundles/app/images/logo.png') }}">
        </center>

        <div id="messages" style="display: none;margin-top: 5px;" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-warning-sign"></span>
            <span id="alertContent"></span>
        </div>

        <form id="loginForm" class="form-signin" method="POST" action="{{ path('reset_password') }}">
            <span id="reauth-email" class="reauth-email"></span>
            <div class="input-group" style="margin-bottom: 20px;">
                <div class="input-group-addon"><span class="fa fa-envelope"></span></div>
                <input type="text" name="mail" value="{{ mail | default('') }}" class="form-control" style="border-top-left-radius: 0!important;border-bottom-left-radius: 0!important;"
                       placeholder="{{ 'mail_adresse'|trans }}" required {{ multi_account is defined and users is not empty ? 'readonly' : 'autofocus' }}>
            </div>
            {% if multi_account is defined and users is not empty %}
            <div class="input-group" style="margin-bottom: 20px;">
                <div class="input-group-addon"><span class="fa fa-user"></span></div>
                <select id="users" name="user_id" class="form-control" style="border-top-left-radius: 0!important;border-bottom-left-radius: 0!important;">
                    {% for user in users %}
                        <option value="{{user.id}}">{{user.username}}</option>
                    {% endfor %}
                </select>
            </div>
                <div style="width: 90%; margin: auto; margin-bottom: 10px; font-size: 1.4em;">
                    <a href="{{ path('reset_password') }}"> {{ 'back'|trans() }} </a>
                </div>
            {% endif %}
            <button id="login" class="btn btn-lg btn-block btn-signin white-text waves-effect waves-light"
                    style="background-color: #D3072A !important;     width: 90%; margin: auto;" type="submit">
                {{ 'reset_password'|trans() }}
            </button>
            <div style="width: 90%; margin: auto; margin-top: 10px; font-size: 1.4em;">
                <a href="{{ path('login') }}"> {{ 'connect'|trans() }} </a>
            </div>
        </form>
    </div>
{% endblock %}

{% block logout %}
{% endblock %}

{% block lang_btn_zone %}
{% endblock %}

{% block vertical_nav %}
{% endblock %}

{% block footer %}
{% endblock %}
