{{ form_start(form,{ 'attr' : { 'id' : 'margeFoodCostForm' } }) }}

<div class="row">
    <div class="col col-lg-4 col-md-4 col-xs-12">
        {{ form_label(form.beginDate) }}
        <div class="input-group">
            {{ form_widget(form.beginDate, {'attr' : {'class' : 'datepicker form-control'}}) }}
            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
        </div>{{ form_errors(form.beginDate) }}
    </div>
    <div class="col col-lg-4 col-md-4 col-xs-12">
        {{ form_label(form.endDate) }}
        <div class="input-group">
            {{ form_widget(form.endDate, {'attr' : {'class' : 'datepicker form-control'}}) }}
            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
        </div>{{ form_errors(form.endDate) }}
    </div>
    <div class="col col-lg-4 col-md-4 col-xs-12">
        {{ form_label(form.restaurant) }}
        {{ form_widget(form.restaurant, {'attr' : {'class' : 'form-control sortable'}}) }}
        {{ form_errors(form.restaurant) }}
    </div>
</div>
<div class="row" style="margin-bottom: 5px;">
    <div class="col-md-12 col-xs-12" style="text-align:right;">
        {% if(generated is defined) %}
            <button class="btn waves-effect btn-export text-black dropdown-button"
                    data-activates='dropdown2'>
                <span class="hide-on-med-and-down"> {{ 'btn.export'|trans() }} </span>
            </button>
            <ul id="dropdown2" class="dropdown-content" style="">
                <li>
                    <a class="strech_btn text-black" href="#" id="downloadReport">
                        <img src="{{ asset('bundles/app/images/export/pdf-512.png') }}"
                             style="height: 25px"
                             alt="{{ 'button.download'|trans({}, 'supervision') }} {{ 'button.download_pdf'|trans({}, 'supervision') }}"/>
                        <span style="color: #000;">{{ 'button.download_pdf'|trans({}, 'supervision') }}</span>
                    </a></li>
                <li>
                    <a class="strech_btn text-black" href="#" id="export-btn">
                        <img src="{{ asset('bundles/app/images/export/csv-128.png') }}"
                             style="height: 25px"
                             alt="{{ 'button.download'|trans({}, 'supervision') }} {{ 'button.download_csv'|trans({}, 'supervision') }}"/>
                        <span style="color: #000;">{{ 'button.download_csv'|trans({}, 'supervision') }}</span>
                    </a>
                </li>
                <li>
                    <a class="strech_btn text-black" href="#" id="export-xls">
                        <img src="{{ asset('bundles/app/images/export/xls-512.png') }}"
                             style="height: 25px"
                             alt="{{ 'btn.download'|trans({}, 'supervision') }} {{ 'btn.download_xls'|trans({}, 'supervision') }}"/>
                        <span style="color: #000;">{{ 'btn.download_xls'|trans({}, 'supervision') }}</span>
                    </a>
                </li>
            </ul>
        {% endif %}

    </div>
    {% if errors.locked is defined %}
        <div class="col col-lg-12 col-sm-12 col-xs-12">
            <div class="alert alert-danger form-error" role="alert"><span
                        class="glyphicon glyphicon-warning-sign"></span>
                {{ 'report.process.warning' |trans({}, 'messages') }} <br></div>
        </div>
    {% endif %}
</div>
{{ form_end(form) }}