{% extends('@General/exports/base_exports_2.html.twig') %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .label {
            color: #000;
        }

        .panel-heading .label {
            font-size: 1.6rem !important;
        }

        .col-modal {
            margin-bottom: 20px;
        }

        .label, .detail-body {
            font-size: 2rem !important;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="row col-modal" style="border: 2px solid #333030; margin-top: 100px; padding: 30px">
        <div class="col-xs-12">
            <br>
            <div class="row col-modal">
                <div class="col-xs-12" style="text-align: center">
                    <b style="font-size: 2.8rem !important;">{{ title|upper }}</b>
                </div>
            </div>
            <br>
            <div class="detail-body">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-modal">
                        <b>{{ 'keyword.label' | trans }}: </b>
                        {{ parameter_service.getRecipeTicketLabel(recipeTicket.label) }}
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-modal" style="; text-align: right;">
                        <b>{{ 'label.reference' | trans }}: </b>
                        {{ recipeTicket.id }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-modal">
                        <b>{{ 'recipe_ticket.print_owner' | trans }}: </b>
                        {{ recipeTicket.owner.firstName }} {{ recipeTicket.owner.lastName }}
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-modal" style="text-align: right;">
                        <b>{{ 'keyword.date' | trans }}: </b>
                        {{ recipeTicket.date | date('d/m/Y') }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-modal">
                        <b>{{ 'keyword.amount_ttc' | trans }}: </b>
                        {{ recipeTicket.amount|number_format( 2, ',', '') }} &euro;
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}