{% extends('@General/exports/base_exports.html.twig') %}

{% block reportTitle %}
    <h4> {{ 'takeout_report.title' |trans }}</h4>
{% endblock %}

{% block filterBlock %}
    <div class="col-xs-2 input-field">
        <label for="startDate">{{ 'keyword.from'|trans }} :</label>
        <span class="text-muted">
            {{ data.startDate }}
        </span>
    </div>
    <div class="col-xs-2 input-field">
        <label for="endDate">{{ 'keyword.to'|trans }}: </label>
        <span class="text-muted">
            {{ data.endDate }}
        </span>
    </div>


    <div class="col-xs-4">
        <label for="selection"> {{ 'takeout_report.cashier' | trans }}: </label>
        <span class="text-muted">
            {%  if data.cashier is defined and not null %}
                {{ data.cashier }}
            {%  else %}
                {{ 'takeout_report.all' | trans }}
            {% endif %}
        </span>
    </div>
{% endblock %}

{% block body %}
    {{ include('@Report/Takeout/report_takeout.html.twig') }}
{% endblock body %}