{% extends ":supervision/default:index.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('src/js/Supervision/category_list.js') }}"></script>
    <script>
        $(function () {
            $('.dataTable').closest('div').css('overflow-y', 'auto');
        })
    </script>

{% endblock %}

{% block base_title %}
    {{ 'parameters.manage_categories' | trans([], 'navbar_supervision') }}
{% endblock %}
{% block base_subtitle %}
    {{ 'parameters.merchandise_management' | trans([], 'navbar_supervision') }}
{% endblock %}
{% block body %}
    <div class="filter-zone">
        <div class="panel panel-default">
            <div class="panel-heading"><span
                        class="glyphicon glyphicon-plus"></span> {{ 'category.list.add'| trans([],'supervision') }}
            </div>
            <div class="panel-body">
                {{ form_start(form,{ 'method' : 'POST', 'attr': {'id': 'AddCategoryForm'} }) }}
                {% include '@Supervision/parts/form_add_edit_category.html.twig' %}
                {{ form_end(form) }}

            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12" style="text-align: right; margin-bottom: 15px">
                    <button class="btn btn-export btn-icon" type="button" id="export-btn">
                        {{ "btn.export"|trans }}
                    </button>
                </div>
            </div>

            <table id="categories_list_table" class="table table-striped table-bordered table-hover" cellspacing="0"
                   width="100%">
                <thead>
                <tr>
                    <th>{{ 'label.order'|trans([],'supervision') }}</th>
                    <th>{{ 'label.name' | trans([],'supervision') }}</th>
                    <th>{{ 'label.group' | trans ([],'supervision') }}</th>
                    <th>{{ 'category.list.tvaBel' | trans ([],'supervision') }}</th>
                    <th>{{ 'category.list.tvaLux' | trans ([],'supervision') }}</th>
                    <th>{{ 'category.list.label_help' | trans ([],'supervision') }}</th>
                    <th class="sorting_disabled">{{ 'shortcut.labels.action' | trans ([],'supervision') }}</th>
                </tr>
                </thead>
                <tbody>
                {% for c in categories %}
                    <tr id="{{ c.id }}">
                        <td>{{ c.order }}</td>
                        <td>{{ c.name }}</td>
                        <td>{% if c.categoryGroup %}{{ c.categoryGroup.name }}{% endif %}</td>
                        <td>{% if c.taxBe is not null %} {{ c.taxBe ~ '%' }} {% endif %}</td>
                        <td>{% if c.taxLux is not null %}{{ c.taxLux ~ '%' }} {% endif %}</td>
                        <td>{% if c.eligible == true %} {{ 'keyword.yes' | trans }}
                            {% else %} {{ 'keyword.no' | trans }}
                            {% endif %}</td>
                        <td class="actions-btn">
                            <a data-tooltip="{{ 'btn.edit' |trans }}" data-position="top"
                               class="tooltipped btn btn-modify btn-icon btn-xs glyphicon-edit"
                               id="edit_group_button_{{ c.id }}"></a>
                            <a data-tooltip="{{ 'btn.delete' | trans }}" data-position="top"
                               id="delete_group_button_{{ c.id }}"
                               class="tooltipped btn btn-delete btn-icon btn-xs glyphicon-remove"></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="form-zone"></div>
            <div id="modal-category-added" style="display: none">
            </div>
        </div>
    </div>
{% endblock %}
