{% extends ":supervision/default:index.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .actions-btn .glyphicon {
            font-size: 1.8em !important;
            padding-right: 10px !important;
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('src/js/Supervision/administration.js') }}"></script>
{% endblock %}

{% block base_title %}
    {{ ('params.financial_management.'~ type ~'_labels') |trans([], 'navbar_supervision') }}
{% endblock %}
{% block base_subtitle %}
    {{ 'params.financial_management.title'|trans([], 'navbar_supervision') }}
{% endblock %}

{% block body %}
    {% if action == 'modify' %}
        {% set glyphiconType = 'edit' %}
    {% else %}
        {% set glyphiconType = 'plus' %}
    {% endif %}
    <div class="filter-zone">
        <div class="panel panel-default">
            <div class="panel-heading heading-add"><span
                        class="glyphicon glyphicon-{{ glyphiconType }}"></span>
                {% if action == 'modify' %}
                    {{ 'parameters_financial_management_edit' | trans ({'%name%' : form.vars.value.label}, "supervision") }}
                {% else %}
                    {{ ( 'parameters_financial_management_add_' ~ type ) | trans({}, "supervision") }}
                {% endif %}
            </div>
            <div class="panel-body" {% if form.vars.value.id is not null or formError == true %} style="display: inherit;" {% endif %}>
                {{ form_start(form,{ 'method' : 'POST', 'attr': {'id': 'AddLabelForm', 'novalidate' : 'novalidate'} }) }}
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-lg-6 col-xs-12">
                        {% form_theme form.translations ':supervision/form_part:tranlsations.html.twig' %}
                        {{ form(form.translations) }}
                        {#{{ form_errors(form) }}#}
                    </div>
                </div>
                <div class="hidden">
                    {{ form_rest(form) }}
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-md-12 col-xs-12">
                        <div class="pull-right">
                            <button type="submit" class="btn btn-{{ action }} btn-icon" type="button"
                                    id="btn-add">
                                {{ ('btn.' ~ action) | trans({}, "supervision") }}
                            </button>
                        </div>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12" style="text-align: right">
                    <button class="btn btn-export btn-icon" type="button" id="export-btn" data-type="{{ type }}">
                        {{ "btn.export"|trans({}, "supervision") }}
                    </button>
                </div>
            </div>
            <table id="labels_list_table" class="table table-striped table-bordered table-hover" cellspacing="0"
                   width="100%">
                <thead>
                <tr>
                    <th width="40%">{{ 'keyword.label' | trans }} (FR)</th>
                    <th width="40%">{{ 'keyword.label' | trans }} (NL)</th>
                    <th>{{ 'label.action' | trans({}, "supervision") }}</th>
                </tr>
                </thead>
                <tbody>
                {% for p in labels %}
                    <tr id="{{ p.id }}" data-type="{{ type }}">
                        <td>{{ p.getLabelTranslation('fr') }}</td>
                        <td>{{ p.getLabelTranslation('nl') }}</td>
                        <td class="actions-btn">
                            {% if p.untouchable != true %}
                                <a data-tooltip="{{ 'btn.edit' | trans({}, "supervision") }}"
                                   href="{{ path('labels_config', {'type' : type,'label': p.id}) }}">
                                    <button type="button" class="btn btn-modify btn-icon btn-xs"></button>
                                </a>
                                <button type="button" class="btn btn-delete btn-icon btn-delete-label btn-xs"
                                        data-label="{{ p.label }}">
                                </button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}