{% form_theme sheetModelForm.lines "@Merchandise/SheetModel/form_parts/sheet_model_line_widget.html.twig" %}

<script>
    var cibledProducts = 'article';
</script>

<div class="panel-heading" style="color: #333; background-color: #f5f5f5 !important;">
    <div class="panel-title" style="color: #333;">
        {% if sheetModelForm.vars.value.id is null %}
            {% set old = "" %}
            {{ 'sheet_model.new_sheet.title'|trans }}
        {% else %}
            {% set old = "oldSheetModel" %}
            {{ 'sheet_model.old_sheet.title'|trans }}
        {% endif %}
    </div>
</div>
{{ form_start(sheetModelForm,{'method' : 'POST' ,'action' : path('api_save_inventory_sheet_model', { 'sheetModel' : sheetModelForm.vars.value.id }) , 'attr' : { 'id' : 'sheet_model_form', 'class': old } }) }}
        {{ form_widget(sheetModelForm.id) }}
<div class="panel-body">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            {{ form_label(sheetModelForm.label, 'sheet_model.new_sheet.labels.label' ) }} <br/>
            {{ form_widget(sheetModelForm.label, { "attr": { "class": 'form-control' }}) }}
            {{ form_errors(sheetModelForm.label) }}
        </div>

    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <label> {{ 'inventory.sheets.new_sheet.labels.add_an_article'|trans() }} </label>
                    <input id="searchByCode" class="form-control" type="text"
                           placeholder="{{ 'placeholder.research'|trans }}"/>
                    {#<div class="col-xs-6">#}
                    {#<label>{{ 'sheet_model.list.product_name'|trans }}</label>#}
                    {#<input id="searchByProductName" class="form-control" type="text" placeholder=""/>#}
                    {#</div>#}
                    <div class="panel-group" id="accordion" role="tablist"
                         aria-multiselectable="false" style="margin-bottom: 2px;">
                        {{ include('@Merchandise/Inventory/Sheets/parts/category_list.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    {{ form_label(sheetModelForm.lines, 'sheet_model.new_sheet.list_title' ) }}
                    {{ form_errors(sheetModelForm.lines) }}
                    <table id="sheetModelFormTable" class="table table-striped table-hover table-responsive">
                        <thead>
                        <tr>
                            <th style="width: 50px;">{{ 'sheet_model.new_sheet.labels.code'|trans }}</th>
                            <th style="width: 100px;">{{ 'sheet_model.new_sheet.labels.category'|trans }}</th>
                            <th>{{ 'sheet_model.new_sheet.labels.article'|trans }}</th>
                            <th>{{ 'sheet_model.new_sheet.labels.action'|trans }}</th>
                            <th style="display: none;">Sort</th>
                        </tr>
                        </thead>
                        <tbody id="containerSheetModelLines"
                               data-count="{{ sheetModelForm.lines| length }}"
                               data-prototype="
						         {% filter escape %}
						             {{ include('@Merchandise/SheetModel/form_parts/prototype_sheet_model_line_widget.html.twig', { 'form': sheetModelForm.lines.vars.prototype }) }}
						         {% endfilter %}">
                        {% for line in sheetModelForm.lines %}
                            {{ form_widget(line,{'index':loop.index}) }}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="pull-right" style="padding-bottom: 5px;">
                <a style="margin-right: 5px;" onclick="goBack()"> {{ 'btn.cancel'|trans() }} </a>
                <button type="button" id="print_btn" class="delivery-btn btn btn-print btn-icon">
                    {{ 'btn.print'|trans }}
                </button>

                <button id="validateFormSheetModel" type="button" class="btn btn-validate btn-icon">
                    {{ 'btn.validate'|trans }}
                </button>
            </div>
        </div>

    </div>

    <div class="hidden">
        {{ form_rest(sheetModelForm) }}
    </div>
    {{ form_end(sheetModelForm) }}
</div>

