{% form_theme inventorySheetForm.lines "@Merchandise/Inventory/form_parts/inventory_sheet_line_widget.html.twig" %}

<div class="">
    <div class="panel panel-default">
        <div class="panel-body" style="padding-top:0; padding-bottom:0; ">
            <div class="row">
                <div class="col-xs-3">
                    {{ form_label(inventorySheetForm.fiscalDate, 'inventory.labels.fiscal_date' ) }}
                    <br/>
                    {{ inventorySheetForm.vars.value.fiscalDate|date('d/m/Y') }}
                </div>
            </div>
            <div class="row">
                <div class="container-fluid">
                    {{ form_label(inventorySheetForm.lines, 'sheet_model.new_sheet.list_title' ) }}
                    <table id="inventorySheetFormTable" class="table table-striped ">
                        <thead>
                        <tr>
                            <th>{{ 'sheet_model.new_sheet.labels.code'|trans }}</th>
                            <th>{{ 'sheet_model.new_sheet.labels.article'|trans }}</th>

                            <th>{{ 'inventory.labels.exped_cnt'|trans }}</th>
                            <th>{{ 'inventory.labels.inventory_cnt'|trans }}</th>
                            <th>{{ 'inventory.labels.usage_cnt'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody id="containerLines">
                        {% for line in inventorySheetForm.lines %}

                            <tr class="line">
                                <td>
                                    <span class="product_id"> {{ line.vars.data.product.externalId }}</span>
                                </td>
                                <td>
                                    <span class="product_id"> {{ line.vars.data.product.name }}</span>
                                </td>
                                <td>
                                    {{ line.vars.data.expedCnt }} {{ line.vars.data.product.labelUnitExped|trans }}
                                </td>
                                <td>
                                    {{ line.vars.data.inventoryCnt }} {{ line.vars.data.product.labelUnitInventory|trans }}
                                </td>
                                <td>
                                    {{ line.vars.data.usageCnt }} {{ line.vars.data.product.labelUnitUsage|trans }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-2 col-xs-offset-10 footer-btns-container" style="">
                    {#<button type="button" id="closeInventory" onclick="$('#inventory_block').fadeOut();"#}
                    {#class="btn red lighten-1 white-text waves-effect waves-light">#}
                    {#{{ 'btn.close'|trans }}#}
                    {#</button>#}

                    {% if inventorySheetForm.vars.value.id is not null %}
                        <a type="button" id="exportPdf"
                           href="{{ path('export_inventory', { 'inventorySheet': inventorySheetForm.vars.value.id}) }}"
                           class="btn #4a148c white black-text waves-effect waves-ligh">
                            <span class='glyphicon glyphicon-print'></span> {{ 'btn.print'|trans }}
                        </a>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
</div>
