<style>
    .table > thead > tr > th {
        width: 20px;
    }
</style>

<div class="scrollable">
    <table class="table hourByHour table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th></th>
            <th>{{ filter.date1|date('d-m-Y') }}</th>
            <th>{{ filter.date2|date('d-m-Y') }}</th>
            <th>{{ filter.date3|date('d-m-Y') }}</th>
            <th>{{ filter.date4|date('d-m-Y') }}</th>
            <th>{{ 'report.sales.slice_schedule.moyen'|trans() }}</th>
        </tr>
        </thead>
        {% if openingHour > closingHour %}
            {% set limitHour =23 %}
        {% else %}
            {% set limitHour = closingHour %}
        {% endif %}
        <tbody class="mainTbody">
        {% for i in openingHour .. limitHour %}
                {% if scheduleType == 1 %}
                    <tr>
                    <th >
                        {{ i ~ ':00' }}
                    </th>
                    <td>{{ result.date0[i][0] }}</td>
                    <td>{{ result.date1[i][0] }}</td>
                    <td>{{ result.date2[i][0] }}</td>
                    <td>{{ result.date3[i][0] }}</td>
                        {% set moyen1= (result.date0[i][0]+result.date1[i][0]+result.date2[i][0]+result.date3[i][0])/4 %}
                    <td>{{ moyen1|number_format('2','.','') }}</td>
                    </tr>
                    <tr>
                    <th >
                        {{ i ~ ':30' }}
                    </th>
                        <td>{{ result.date0[i][1] }}</td>
                        <td>{{ result.date1[i][1] }}</td>
                        <td>{{ result.date2[i][1] }}</td>
                        <td>{{ result.date3[i][1] }}</td>
                        {% set moyen2= (result.date0[i][1]+result.date1[i][1]+result.date2[i][1]+result.date3[i][1])/4 %}
                        <td>{{ moyen2|number_format('2','.','') }}</td>
                    </tr>
                {% else %}
                    <tr>
                    <th >
                        {{ i ~ ':00' }}
                    </th>
                        <td>{{ result.date0[i][0] }}</td>
                        <td>{{ result.date1[i][0] }}</td>
                        <td>{{ result.date2[i][0] }}</td>
                        <td>{{ result.date3[i][0] }}</td>
                        {% set moyen= (result.date0[i][0]+result.date1[i][0]+result.date2[i][0]+result.date3[i][0])/4 %}
                        <td>{{ moyen|number_format('2','.','') }}</td>
                    </tr>
                    <tr>
                    <th >
                        {{ i ~ ':15' }}
                    </th>
                        <td>{{ result.date0[i][1] }}</td>
                        <td>{{ result.date1[i][1] }}</td>
                        <td>{{ result.date2[i][1] }}</td>
                        <td>{{ result.date3[i][1] }}</td>
                        {% set moyen1= (result.date0[i][1]+result.date1[i][1]+result.date2[i][1]+result.date3[i][1])/4 %}
                        <td>{{ moyen1|number_format('2','.','') }}</td>
                    </tr>
                    <tr>
                    <th >
                        {{ i ~ ':30' }}
                    </th>
                        <td>{{ result.date0[i][2] }}</td>
                        <td>{{ result.date1[i][2] }}</td>
                        <td>{{ result.date2[i][2] }}</td>
                        <td>{{ result.date3[i][2] }}</td>
                        {% set moyen2= (result.date0[i][2]+result.date1[i][2]+result.date2[i][2]+result.date3[i][2])/4 %}
                        <td>{{ moyen2|number_format('2','.','') }}</td>
                    <tr>
                    <th >
                        {{ i ~ ':45' }}
                    </th>
                    <td>{{ result.date0[i][3] }}</td>
                    <td>{{ result.date1[i][3] }}</td>
                    <td>{{ result.date2[i][3] }}</td>
                    <td>{{ result.date3[i][3] }}</td>
                    {% set moyen3= (result.date0[i][3]+result.date1[i][3]+result.date2[i][3]+result.date3[i][3])/4 %}
                    <td>{{ moyen3|number_format('2','.','') }}</td>
                    </tr>
                {% endif %}
        {% endfor %}
        {% if openingHour > closingHour  %}
        {% for i in 0 .. closingHour -1 %}
            {% if scheduleType == 1 %}
                <tr>
                    <th >
                        {{ i ~ ':00' }}
                    </th>
                    <td>{{ result.date0[i][0] }}</td>
                    <td>{{ result.date1[i][0] }}</td>
                    <td>{{ result.date2[i][0] }}</td>
                    <td>{{ result.date3[i][0] }}</td>
                    {% set moyen1= (result.date0[i][0]+result.date1[i][0]+result.date2[i][0]+result.date3[i][0])/4 %}
                    <td>{{ moyen1|number_format('2','.','') }}</td>
                </tr>
                <tr>
                    <th >
                        {{ i ~ ':30' }}
                    </th>
                    <td>{{ result.date0[i][1] }}</td>
                    <td>{{ result.date1[i][1] }}</td>
                    <td>{{ result.date2[i][1] }}</td>
                    <td>{{ result.date3[i][1] }}</td>
                    {% set moyen2= (result.date0[i][1]+result.date1[i][1]+result.date2[i][1]+result.date3[i][1])/4 %}
                    <td>{{ moyen2|number_format('2','.','') }}</td>
                </tr>
            {% else %}
                <tr>
                    <th >
                        {{ i ~ ':00' }}
                    </th>
                    <td>{{ result.date0[i][0] }}</td>
                    <td>{{ result.date1[i][0] }}</td>
                    <td>{{ result.date2[i][0] }}</td>
                    <td>{{ result.date3[i][0] }}</td>
                    {% set moyen= (result.date0[i][0]+result.date1[i][0]+result.date2[i][0]+result.date3[i][0])/4 %}
                    <td>{{ moyen|number_format('2','.','') }}</td>
                </tr>
                <tr>
                    <th >
                        {{ i ~ ':15' }}
                    </th>
                    <td>{{ result.date0[i][1] }}</td>
                    <td>{{ result.date1[i][1] }}</td>
                    <td>{{ result.date2[i][1] }}</td>
                    <td>{{ result.date3[i][1] }}</td>
                    {% set moyen1= (result.date0[i][1]+result.date1[i][1]+result.date2[i][1]+result.date3[i][1])/4 %}
                    <td>{{ moyen1|number_format('2','.','') }}</td>
                </tr>
                <tr>
                    <th >
                        {{ i ~ ':30' }}
                    </th>
                    <td>{{ result.date0[i][2] }}</td>
                    <td>{{ result.date1[i][2] }}</td>
                    <td>{{ result.date2[i][2] }}</td>
                    <td>{{ result.date3[i][2] }}</td>
                    {% set moyen2= (result.date0[i][2]+result.date1[i][2]+result.date2[i][2]+result.date3[i][2])/4 %}
                    <td>{{ moyen2|number_format('2','.','') }}</td>
                <tr>
                    <th >
                        {{ i ~ ':45' }}
                    </th>
                    <td>{{ result.date0[i][3] }}</td>
                    <td>{{ result.date1[i][3] }}</td>
                    <td>{{ result.date2[i][3] }}</td>
                    <td>{{ result.date3[i][3] }}</td>
                    {% set moyen3= (result.date0[i][3]+result.date1[i][3]+result.date2[i][3]+result.date3[i][3])/4 %}
                    <td>{{ moyen3|number_format('2','.','') }}</td>
                </tr>
            {% endif %}
        {% endfor %}
        {% endif %}
        <tr>
            <th>{{ 'report.sales.slice_schedule.total' |trans }}</th>
            <td>{{ result.date0[24] }}</td>
            <td>{{ result.date1[24] }}</td>
            <td>{{ result.date2[24] }}</td>
            <td>{{ result.date3[24] }}</td>
            {% set moyen= (result.date0[24]+result.date1[24]+result.date2[24]+result.date3[24])/4 %}
            <td>{{ moyen|number_format('2','.','') }}</td>
        </tr>
        </tbody>

</table>
</div>