{{ form_start(form,{ 'method' : 'POST', 'attr': {'id': 'defaultPasswordForm'} }) }}
<div class="row">
    <div class="col col-lg-6 col-sm-12 col-md-6 col-xs-12">
        {{ form_label(form.password, 'label.password') }}
        {{ form_widget(form.password,{ 'attr' : {'class' : 'form-control'} }) }}
        {{ form_errors(form.password) }}
    </div>
    <div class="col col-lg-6 col-sm-12 col-md-6 col-xs-12">
        {{ form_label(form.confirmPassword) }}
        {{ form_widget(form.confirmPassword,{ 'attr' : {'class' : 'form-control' } }) }}
        {{ form_errors(form.confirmPassword) }}
    </div>
</div>
<div class="hidden">{{ form_rest(form) }}</div>
{{ form_end(form) }}